<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Symbiosis | The site to help</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
</head>

<body>
    <!-- navigation bar -->
    <header>
        <nav>
            <ul id="navbar">
                <img src="../static/Logo.png" id="logo">
                <li><a href="/">Home</a></li>
                <li><a href="/signup">Sign up</a></li>
                <li><a href="/inNeed">In Need</a></li>
                <li><a href="/homeService">At Home Service</a></li>
            </ul>
        </nav>
    </header>
    <!-- Intro section  -->
    <section id="intro">
        <div>
            <img src="../static/Logo.png" id="img1">
        </div>
        <div id="container_1">
            <h1>We are here to help</h1>
            <p> Tough times require tough solutions</p>
        </div>
    </section>
    <!-- What we do section  -->
    <section id="what_we_do">
        <div>
            <img src="../static/img2.jpg" id="img2">
        </div>
        <div>
            <h1> Welcome to Symbiosis </h1>
            <p> Quickly connect with hospitals, blood banks, oxygen cylinder distributors etc so that
                more and more lives can be saved daily
            </p>
        </div>
    </section>
    <!-- Our services  -->
    <section id="our_features">
        <div class="box" id="box_1">
            <div class="image_box">
                <img src="../static/img3.jpg" class="block_img">
            </div>
            <div class="text_box">
                <h2>Connection</h2>
                <p>We provide a simple interface to connect all hospitals thorough out the country to have a
                    better connectivity for the easy access of goods that they are lacking.
                </p>
            </div>
        </div>
        <div class="box" id="box_2">
            <div class="image_box">
                <img src="../static/img4.jpg" class="block_img">
            </div>
            <div class="text_box">
                <h2>Vaccine at home services</h2>
                <p> We help you connect with the companies that perform vaccination at your doorsteps </p>
            </div>
        </div>
    </section>
    <!-- Footer  -->
    <footer>
        <div id="container_of_footer">
            <p id="end">Copyright&#169 Symbiosis.com || All rights reserved</p>
        </div>
    </footer>
</body>

</html>